:root {
    --f-a: cubic-bezier(0.075, 0.820, 0.165, 1.000);
    --user-color: rgb(219, 158, 229);
    --user-view-bg-color: rgba(75, 75, 75, 0.2);
}

html {
    background-color: transparent;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;


}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    
}

#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;

}

@media (prefers-color-scheme: light) {
    body {
        color: black;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        color: white;
    }
}


p {
    margin: 0;
    padding: 0;
    line-height: 1;
}

.padding-view {
    padding: 30px;
    padding-left: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}
.scroll{
    overflow-y: scroll;
}

.scroll::-webkit-scrollbar {
    width: 2px;
}


/* 滚动条滑块样式 */
.scroll::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: gray;
}